<% provide(:title, "About") %>
<!DOCTYPE html>
<html><head>
    <style>
      #people-table {
        font-size: 11pt;
      }
      #people-table td:first-child {
        width: 50%;
        padding-bottom: 20px;
        padding-right: 4px;
      }
      #people-table td {
        vertical-align: top;
      }
    </style>
  </head>
  <body>
    <table cellpadding="0" cellspacing="0" border="0" style="width:576px;margin:2em auto;font-size:11pt;font-family:Georgia, Times New Roman, serif;">
      <tbody><tr>
        <td style="vertical-align:top;padding-right:2em;">
          <h1>What is WideScope?</h1>
          <h2>Building Consensus for Budgets</h2>
          <p>Widescope is a Stanford research project to help societies explore hard economic trade-offs, through data-driven social networks. Our 1st experiment is this website help you explore federal &amp; state budgets, and</p>
          <ol>
            <li>Search: Study budgets proposed by politicians and regular citizens,</li>
            <li>Propose: Design your own budgets, and state your reasons, and </li>
            <li>Influence: Comment, vote, develop consensus.</li>
          </ol>
          <h2>Our Philosophy</h2>
          <p>A Widescope will help users and societies see the bigger picture: zoom beyond individual variables and observe overall objectives and feasibility. Our goals include using social networks to engage users about important data-driven decisions. With common data and shared discussion, we believe it is easier to make progress on hard societal problems. Also, we are building general purpose theoretical constructs and systems to apply our Widescope philosophy in broader problems. Our system for budgets:</p>
          <ol>
            <li>We have a database of Budgets for Federal 2011. For many states, we have budgets for 2011. The rest are from 2009 or 2010.</li>
            <li>Each budget has a set of Categories. For simplicity, we chose easy to understand category names (e.g, Education, Defense, Corporation Income Taxes).</li>
            <li>Each category has a set of Proposals -- changes for voters to support or modify. An example: For category "Higher Education" a simple proposal could be "Increase student scholarships, Including Pell Grants to reach another 50k students. Cost: $100m." In our system, anyone can make proposals.</li>
          </ol>
          <h2>Funding</h2>
          <p>We gratefully acknowledge funding from the National Science Foundation and support from Amazon, Cisco, Google, Microsoft, and Yahoo!</p>
          <h2>Current Members</h2>
          
          <table cellpadding="0" cellspacing="0" border="0" id="people-table">
            <tbody><tr>
              <td>
                <img style="height:105px;" src="aboutus_files/image023.jpg"><br>
                <p><a href="http://www.linkedin.com/in/anamitrabanerji">Anamitra Banerji</a>, co-PI</p><p>
                </p><p>Entrepreneur in Residence at Foundation Capital. Formerly product at Twitter, Yahoo, Overture. (Visiting Stanford)</p>
              </td>
              <td>
                <img style="height:105px;" src="aboutus_files/image020.jpg"><br>
                <p><a href="http://www.linkedin.com/in/dedutta">Debojyoti Dutta</a>, co-PI</p>
                <p>Tech Lead, Office of the Cloud CTO, Cisco. (PhD USC, visiting Stanford)</p>
              </td>
            </tr>
            <tr>
              <td>
                <img style="height:104px;" src="aboutus_files/image002.png"><br>
                <p><a href="http://www.stanford.edu/~ashishg">Ashish Goel</a>, co-PI</p><p>
                </p><p>Associate Professor and 3COM faculty scholar in Management Science and Engineering and (by courtesy) Computer Science (PhD Stanford)</p>
              </td>
              <td>
                <img style="height:105px;" src="aboutus_files/image022.jpg"><br>
                <p>David Lee, Theory and Data Insights guy</p><p>
                </p><p>PhD student in Electrical Engineering, Stanford</p>
              </td>
            </tr>
            <tr>
              <td>
                <img style="height:105px;" src="aboutus_files/image009.png"><br>
                <p>Eli Marschner, Lead developer and UX guy</p><p>
                </p><p>MS student in Computer Science, Stanford</p>
                </td>
              <td>
                <img style="height:105px;" src="aboutus_files/image024.jpg"><br>
                <p>Sukolsak Sakshuwong, Developer</p><p>
                </p><p>MS student in Computer Science, Stanford</p><p>
              </p></td>
            </tr>
          </tbody></table>
          <h2>Alumni Contributors</h2>
          <ul>
            <li><a href="http://infolab.stanford.edu/~shiva/bio.html">N. Shivakumar</a>, co-PI. <i>Visiting Stanford. Former VP of Engineering at Google. (PhD Stanford)</i></li>
            <li>Noah Burbank, data acquisition &amp; user trials. <i>PhD student in Management Science and Engineering</i></li>
            <li>Eric Mibuari, databases &amp; data-cleaning. <i>MS student in Computer Science</i></li>
            <li>Bipin Suresh, social web integration. <i>MS student in Computer Science</i></li>
            <li>Sunny Zhao, data entry &amp; quality control. <i>MS student in Statistics</i></li>
            <li>Erik Kuefler, web development &amp; performance testing. <i>MS student in Computer Science</i></li>
            <li>Ahmet Onder Guven, data analysis. <i>PhD in Management Science and Engineering</i></li>
            <li>Miguel Rios, consultant. <i>InfoVis Engineer @ Twitter</i></li>
          </ul>
        </td>
      </tr>
    </tbody></table>
  

</body></html>