// Place all the styles related to the Budgetposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.range-wrapper {
  overflow: visible;
  text-overflow: ellipsis;
  white-space: wrap;

} 
.range-wrapper > div {
  position: relative;
  top: -15px;
  width: 5px;
}
.range-wrapper > .text {
  pointer-events: none;

}
input[type=range]{
  -webkit-appearance: none;
  background: linear-gradient(to right, #a6d96a 0%, #a6d96a 50%, #fff 50%, #fff 100%);
}
input[type=range]::-webkit-slider-runnable-track {
  width: 3px;
  height: 18px;   
  border: none;
  border-radius: 0px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none; /*1px solid #e95e57;*/
  height: 8px;
  width: 10px;
  border-radius: 50%;
  background: black;
  margin-top: 5px;
  cursor: pointer;
  -webkit-text-stroke: 1px black;
}
input[type=range]:focus {
  outline: none;
  background: linear-gradient(to right, #a6d96a 0%, #a6d96a 50%, #fff 50%, #fff 100%);

}